---
import type { CollectionEntry } from "astro:content";
import Card from "./card.astro";
import { Image } from "astro:assets";
import externalLinkSvg from "../images/external-link.svg";

interface Props {
  experience: CollectionEntry<"experiences">;
}

const {
  experience: {
    data: { company, date, description, jobTitle, tags, link },
  },
} = Astro.props;
---

<div class="section">
  <a title={jobTitle} href={link}>
    <Card>
      <header class="flex gap-2">
        <h2 class="text-white text-xl">
          {company}
        </h2>
        <Image src={externalLinkSvg} alt="external link" />
      </header>
      <div class="flex justify-between mb-2">
        {jobTitle}
        <div class="text-gray-400">{date}</div>
      </div>
      <p class="text-gray-300">{description}</p>
    </Card>
  </a>
</div>
