---
import { Image } from "astro:assets";
import { config } from "../config";

import githubSvg from "../images/github.svg";
import linkedinSvg from "../images/linkedin.svg";
---

<section id="information" class="md:pr-20 md:sticky md:top-0 md:min-w-96">
  <header class="pb-3">
    <h1 class="text-5xl text-blue-300">Kelvin Chua</h1>
    <h2 class="text-lg text-gray-200">Site Reliability Engineer</h2>
  </header>
  <section class="text-gray-300">
    {config.info.about}
  </section>
  <footer class="mt-5 flex">
    <a
      title="github"
      class="mr-2 hover:scale-125 transform transition"
      href={config.info.github}
    >
      <Image loading={"eager"} src={githubSvg} alt="github icon" />
      github
    </a>

    <!-- <a
      title="resume"
      class="mr-2 hover:scale-125 transform transition"
      href="/static/resume.pdf"
    >
    <Image loading={"eager"} src={fileSvg} alt="file icon" />

      resume
    </a> -->

    <a
      title="linkedin"
      class="mr-2 hover:scale-125 transform transition"
      href={config.info.linkedin}
    >
      <Image loading={"eager"} src={linkedinSvg} alt="linkedin icon" />
      linkedin
    </a>
  </footer>
  <hr class="mt-2" />
  <div class="mt-2 text-gray-400">
    Email: {config.info.email}
    <div class="mt-5">
      <p>
        Design inspired by <a
          class="transition text-gray-200 hover:text-cyan-200"
          href="https://www.sarahdayan.dev/"
          title="Sarah Dayan's Site">Sarah Dayan's Site</a
        >
        and the <a
          class="transition text-gray-200 hover:text-cyan-200"
          href="https://tailwindcss.com/">TailwindCSS site</a
        >
      </p>
      <p>
        Statically generated using Astro and TailwindCSS with zero client-side
        JavaScript for a lean experience.
      </p>
    </div>
  </div>
</section>
