---
import type { CollectionEntry } from "astro:content";
import Card from "./card.astro";
import { Image } from "astro:assets";
import externalLinkSvg from "../images/external-link.svg";
import Tag from "./tag.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const {
  project: {
    data: { description, tags, title, source },
  },
} = Astro.props;
---

<a title={title} href={source} aria-label={title}>
  <Card>
    <header class="flex gap-2">
      <h2 class="text-white text-xl">
        {title}
      </h2>
      <Image src={externalLinkSvg} alt="external link" />
    </header>
    <p class="text-gray-300">{description}</p>
    <div class="mt-1 flex gap-1">
      {tags.map((tag) => <Tag>{tag}</Tag>)}
    </div>
  </Card></a
>
